.no-fav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85vh;
  text-align: center;
  color: grey;
  font-size: 1.5rem;
  position: absolute;
  right: 0%;

  svg {
    margin-left: 10px;
    fill: grey;
  }
}
